<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>URL Shrinker</title>
  </head>
  <body>
    <div class="container">
      <h1>URL Shrinker</h1>
      <form action="/shortner" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input
          required
          placeholder="Url"
          type="url"
          name="fullurl"
          id="fullurl"
          class="form-control col mr-2"
        
          />
        <button class="btn btn-success" type="submit">Shrink</button>
      </form>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Short Code</th>
            <th>Clicks</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td>
              <a href="<%= shortUrl.fullurl %>"><%= shortUrl.fullurl %></a>
            </td>
            <td>
              <a href="<%= shortUrl.shorturl %>"><%= shortUrl.shorturl%></a>
            </td>
            <td>
              <a href="<%= shortUrl.shorturl %>"><%= shortUrl.shortcode %></a>
            </td>
            <td><%= shortUrl.count %></td>
            <td>
              <a href="/del/<%= shortUrl.shortcode %>" onclick="return confirm('Are you sure you want to delete this url')
                ><i class="fa fa-trash" aria-hidden="true"></i
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
